.welcome-text {
    font-size: 20px;
    font-weight: 600; /* Semi-bold */
  }
  @media (max-width: 768px) {
    .sidebar {
      position: fixed !important;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 1000;
      background-color: #111c43;
    }
  }
  

  